@import "../vars";
@import "../mixins";
@import "../ui//buttons.scss";

.catalog {
  &__inner {
    width: 100%;
  }
  &__header {
    padding: 20px 20px 10px 20px;
    border-radius: 6px;
    border: 1px solid #eef0f4;
    @include mobile {
      padding: 10px 10px 10px 10px;
    }
    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-divider {
      height: 1px; /* Высота вашей линии */
      width: auto; /* Ширина вашей линии */
      background-color: #eef0f4; /* Цвет вашей линии */
      margin-top: 20px;
      margin-bottom: 12px;
    }
    &-title {
      color: #1d232c;
      font-size: 30px;
      font-weight: 500;
    }
    &-pagination {
      color: #586a84;
      font-size: 14px;
      font-weight: 400;
      &--bold {
        color: #1d232c;
        font-size: 14px;
        font-weight: 500;
      }
    }
    &-view {
      display: flex;
      align-items: center;
      gap: 10px;
      &-item {
        display: flex;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 5px;
        cursor: pointer;
        .catalogViewIcon * {
          fill: #586a84;
        }

        &--active {
          display: flex;
          width: 36px;
          height: 36px;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          padding: 5px;
          cursor: pointer;
          background: #eef0f4;
          .catalogViewIcon * {
            fill: #3b4758;
          }
        }
      }
    }
    &-sort {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      &-item {
        position: relative;
        display: flex;
        padding: 4px 12px 4px 20px;
        justify-content: flex-start;
        align-items: center;
        border-radius: 18px;
        border: 1px solid #eef0f4;

        color: #586a84;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        @include mobile {
          font-size: 12px;
        }
        &--value {
          color: #1d232c;
          font-size: 14px;
          font-weight: 500;
          @include mobile {
            font-size: 12px;
          }
        }
        & select {
          appearance: none;
          padding-right: 20px; /* Добавьте отступ для контейнера select */
          background: url("../../images/icon-select-sort.svg") no-repeat right
            center;
          background-size: 12px; /* Укажите размер вашей стрелки */
          margin-left: 8px; /* Добавьте отступ справа для текста */
          @include mobile {
            max-width: 95px;
          }
        }
        &--mobile {
          display: none;

          padding: 4px 12px 4px 12px;
          align-self: flex-end;
          .filtersIcon {
            margin-right: 10px;
          }
          @include tablet {
            display: flex;
          }
          @include mobile {
            display: flex;
          }
        }
      }
    }
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  &__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
    gap: 20px;
    justify-items: center; /* Центрирование по горизонтали */
    @include laptop {
      gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(calc(33% - 15px), 1fr));
    }
    @include tablet {
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(calc(33% - 20px), 1fr));
    }
    @include mobile {
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    }
    .product-cardV1 {
      width: 100%;
    }
  }
  &__show-more {
    display: flex;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #eef0f4;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    color: #1d232c;
    font-size: 16px;
    font-weight: 500;
  }
  &__pagination {
    display: flex;
    gap: 8px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    &-button {
      width: 20px;
      display: flex;
      justify-content: center;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #e4e7e9;
      background: #fff;
      color: #191c1f;
      border-radius: 50%;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      &--active {
        color: #fff;
        background: $primaryColor;
      }
    }
    &-arrow {
      cursor: pointer;
      width: 24px;
      padding: 8px;
      background: #fff;
      border-radius: 50%;
      border: 1.5px solid $primaryColor;
      margin: 0 15px;
      * {
        stroke: $primaryColor;
      }
    }
    &-dots {
      margin-bottom: 10px;
    }
  }
}
