@import "../vars";
@import "../mixins";

.header__wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: top 0.3s;
  @include mobile {
    position: relative;
  }
  .header {
    border-bottom: 2px solid #ebebeb;
    background: #fff;
    &__inner {
      display: flex;
      padding: 25px 0;
      justify-content: space-between;
      align-items: center;
      @include laptop {
        padding: 20px 0;
      }
      @include tablet {
        padding: 15px 0;
        nav {
          display: none;
        }
      }
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
        nav {
          display: none;
        }
      }
    }
    &__group-catalog {
      display: flex;
    }
    &__catalog-btn {
      border-radius: 10px;
      background: #9e00ff;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 12px 15px;
      margin-left: 15px;
      text-align: center;
      cursor: pointer;
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
      &-burger {
        margin-right: 10px;
        @include laptop {
          margin-right: 0;
        }
        &:before {
          content: "";
          display: inline-block;
        }
      }
      &-text {
        @include laptop {
          display: none;
        }
      }
    }
    &__search {
      display: flex;
      height: 40px;
      @include tablet {
        height: 30px;
      }
      @include mobile {
        height: 40px;
        margin-top: 15px;
      }
      &-input {
        color: #7d8fa9;
        padding: 10px 30px;
        border-radius: 10px 0px 0px 10px;
        border-top: 1px solid $primaryColor;
        border-bottom: 1px solid $primaryColor;
        border-left: 1px solid $primaryColor;
        background: inherit;

        width: 575px;
        @include laptop {
          width: 400px;
        }
        @include tablet {
          width: 400px;
          padding: 5px 20px;
        }
        @include mobile {
          width: 285px;
          padding: 5px 15px;
        }
      }
      &-btn {
        padding: 0px 15px;
        justify-content: center;
        align-items: center;
        border-radius: 0px 10px 10px 0px;
        background: $primaryColor;
        cursor: pointer;
      }
    }
    &__nav {
      display: flex;
      align-items: center;
      gap: 25px;
      &-item {
        height: 30px;
        width: 30px;
        &:hover {
          .header__nav-icon * {
            fill: $primaryColor;
            transition: fill 0.25s ease-in-out;
          }
        }
      }
      @include laptop {
        gap: 20px;
      }
      // @include tablet {
      //   width: 400px;
      //   padding: 5px 20px;
      // }
      // @include mobile {
      //   width: 250px;
      //   padding: 5px 15px;
      // }
    }
  }
}
