@import "../vars";
@import "../mixins";
@import "../ui//buttons.scss";

.list {
  &:hover {
    .slick-next,
    .slick-prev {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      z-index: 10;
    }
  }
  &__item {
    max-width: 235px;
    min-width: 235px;
    // height: 385px;
    padding: 20px;
    margin: 10px;

    border-radius: 20px;
    border: 0px solid #eef0f4;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      transition: box-shadow 0.3s ease-in-out;
      .list__item-name {
        color: $primaryColor;
        transition: color 0.2s ease-in-out;
      }
    }
    @include laptop {
      max-width: 235px;
      padding: 15px;
      margin: 5px 10px;
    }
    @include tablet {
      max-width: 235px;
      padding: 15px 10px;
      margin: 5px 5px;
    }
    @include mobile {
      max-width: 175px;
      min-width: 175px;
      padding: 15px 10px;
      margin: 5px 5px;
    }
    &-text {
      height: 85px;
      @include tablet {
        height: 65px;
      }
      @include mobile {
        height: 50px;
      }
    }
    &-category {
      color: #5f6c72;

      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
      @include laptop {
        font-size: 12px;
      }
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }

    &-image {
      position: relative;
      height: 200px;
      margin: 15px auto;
      @include laptop {
        height: 185px;
      }
      @include tablet {
        height: 185px;
      }
      @include mobile {
        height: 145px;
        margin: 10px auto 25px;
      }
      & img {
        object-fit: contain !important;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
      }
    }
    &-price {
      color: #1d232c;

      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @include mobile {
        font-size: 20px;
      }
      &-old {
        color: #1d232c;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: line-through;
        @include mobile {
          font-size: 14px;
        }
      }
      &-new {
        color: #20e764;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 10px;
      }
    }
    &-buttons {
      display: flex;
      @include mobile {
        margin-top: 5px;
        align-self: flex-end;
      }
    }
  }

  .slick-slide {
    display: flex;
    justify-content: center;
  }

  .next-slick-arrow *,
  .prev-slick-arrow * {
    fill: $secondaryColor;
  }
  /* Скрыть стрелки по умолчанию */
  .slick-next,
  .slick-prev {
    visibility: hidden;
    opacity: 0;
    top: 200px;
    &:hover {
      .next-slick-arrow *,
      .prev-slick-arrow * {
        fill: $primaryColor;
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  .slick-prev {
    left: -7px;
  }
  .slick-next {
    right: 9px;
  }
  .slick-next:before,
  .slick-prev:before {
    content: "";
  }
}
