@font-face { 
    font-family: rubik; 
    src: url('../fonts/Rubik-VariableFont_wght.ttf'); 
} 
*{
    font-family: rubik;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer, .main, .header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
}