@import "../assets/styles/_vars";
@import "../assets/styles/_reset.scss";
@import "../assets/styles/_media.scss";
@import "../assets/styles/_fonts.scss";

* {
    font-family: rubik;
}
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    margin-top: 96px;
}

.container {
    max-width: 1444px;
    margin: 0 auto;
}

