@import "../vars";
@import "../mixins";
@import "../ui//buttons.scss";

.catalog {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  &__aside {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    &-banner {
      position: relative;
      width: 280px;
      height: 500px;
      @include laptop {
        width: 235px;
        height: 425px;
      }
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }
  }

}
