@font-face {
    font-family: "LogoFont";
    src: url("../fonts/Aquire/AquireBold.woff2") format("woff2");
}

@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
