@import "./_vars";
@import "./_reset.scss";
@import "./_media.scss";
@import "./_fonts.scss";

* {
    font-family: rubik;
}
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    margin-top: 96px;
}

.container {
    max-width: 1444px;
    margin: 0 auto;
}

