@import "./_vars";
@import "./_reset.scss";
@import "./_media.scss";
@import "./_fonts.scss";

* {
  font-family: rubik;
}
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin-top: 96px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 0 5px;
}

h1 {
  color: white;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h2 {
  display: inline-block;
  color: #1d232c;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 2px solid $primaryColor;
  margin-top: 10px;
  margin-bottom: 25px;
}

h3 {
  color: #1d232c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
color: #000;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
