@import "./_vars";
@import "./_reset.scss";
@import "./_mixins.scss";
@import "./_fonts.scss";

* {
  font-family: rubik;
  outline: none;
}

body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  @include laptop {
    padding: 0 15px;
  }
  @include tablet {
    padding: 0 10px;
  }
  @include mobile {
    padding: 0 5px;
  }
}

h1 {
  color: white;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @include laptop {
    font-size: 46px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include mobile {
    font-size: 24px;
  }
}

h2 {
  display: inline-block;
  color: #1d232c;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 2px solid $primaryColor;
  margin-top: 10px;
  margin-bottom: 25px;
  @include laptop {
    font-size: 28px;
    margin-bottom: 20px;
  }
  @include tablet {
    font-size: 24px;
    margin-bottom: 15px;
  }
  @include mobile {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

h3 {
  color: #1d232c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include laptop {
    font-size: 15px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 12px;
  }
}

h4 {
  color: #000;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include mobile {
    font-size: 12px;
  }
}

button, a {
  cursor: pointer;
}

//toast
/* Стили для десктопных устройств (по умолчанию) */
.Toastify__toast-container {
  @include tablet {
    top: 5em; /* Позиционирование сверху на мобильных устройствах */
    right: 1em;
    bottom: initial; /* Сброс позиции снизу */
    width: 450px;
  }
  @include mobile {
    top: 1em; /* Позиционирование сверху на мобильных устройствах */
    right: 1em;
    bottom: initial; /* Сброс позиции снизу */
    margin: 0 15px;
    width: 290px;
  }
}

