@import "./vars";
@import "./mixins";
@import "./ui//buttons.scss";

.categories {
  background-color: #eef0f4;
}

.brands {
  margin: 30px 0;
  @include laptop {
    margin: 25px 0;
  }
  @include tablet {
    margin: 15px 0;
  }
  @include mobile {
    margin: 10px 0 0;
  }
}

.popular {
  margin-bottom: 25px;
  @include laptop {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 15px;
  }
  @include mobile {
    margin-bottom: 10px;
  }
}

.new {
  margin-bottom: 25px;
  @include laptop {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 15px;
  }
  @include mobile {
    margin-bottom: 10px;
  }
}

.commercial {
  margin-bottom: 40px;
  @include laptop {
    margin-bottom: 25px;
  }
  @include tablet {
    margin-bottom: 15px;
  }
  @include mobile {
    margin-bottom: 10px;
  }
  &__image {
    width: 100%;
    height: 425px;
    object-fit: cover;
    &--mobile {
      display: none;
      object-fit: cover;
      width: 100%;
      max-height: 250px;
    }
    @include laptop {
      max-height: 315px;
    }
    @include tablet {
      max-height: 235px;
    }
    @include mobile {
      display: none;
      &--mobile {
        display: block;
      }
    }
  }
}

.discounts {
  margin-bottom: 55px;
  @include laptop {
    margin-bottom: 45px;
  }
  @include tablet {
    margin-bottom: 35px;
  }
  @include mobile {
    margin-bottom: 25px;
  }
}

.advantages {
  background: #eef0f4;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    @include laptop {
      padding: 40px 0;
    }
    @include tablet {
      padding: 15px 0;
    }
    @include mobile {
      padding: 5px 0;
      justify-content: space-evenly;
    }
  }
  &__item {
    display: flex;
    padding: 25px 5px;
    @include laptop {
      padding: 20px 5px;
    }
    @include tablet {
      padding: 15px 5px;
    }
    @include mobile {
      padding: 10px 5px;
    }
    &-image {
      height: 40px;
      width: 40px;
      align-self: center;
      margin-right: 15px;

      @include tablet {
        height: 35px;
        width: 35px;
        margin-right: 10px;
      }
      @include mobile {
        height: 25px;
        width: 25px;
        margin-right: 10px;
      }
    }
    // &-text {
    // }
    &-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px;
      max-width: 110px;
      @include tablet {
        font-size: 14px;
        max-width: 90px;
      }
      @include mobile {
        font-size: 14px;
        max-width: 90px;
      }
    }
    &-subtitle {
      font-size: 14px;
      font-weight: 400;
      @include tablet {
        font-size: 12px;
      }
      @include mobile {
        font-size: 12px;
      }
    }
  }
}
